<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="w-25">
    <ul class="list-group ">
        <li class="list-group-item d-flex justify-content-between align-items-center"
            th:each="chat : ${chats}">
            <th:block th:text="${chat.getTopic()}"></th:block>
            <span class="badge bg-primary rounded-pill">
                    <a th:href="@{'/ui/chat/' + ${chat.getId()}}" />Enter Chat</a>
                </span>
        </li>
    </ul>
    <form action="/ui/chats" method="post">
        <div class="input-group mb-3 mt-1">
            <input type="text" class="form-control" th:name="topic"  required placeholder="New Room" aria-describedby="button-addon2">
            <input class="btn btn-outline-secondary" type="submit" id="button-addon2" />
        </div>
    </form>

</div>
</body>
</html>